{% extends "MainApp/base.html" %}

{% block page_header %}
  <h1>{{ topic }}</h1>
{% endblock page_header %}

{% block content %}

  <p>Topic: {{ topic }} </p>

 
     {% for entry in entries %}
     <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
       <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
         <small><a href="{% url 'MainApp:edit_entry' entry.id %}">
          edit entry</a></small>
      </h4>
      <!-- Card body with entry text -->
       <div class="card-body">{{ entry.text|linebreaks }}</div>
    </div>
     {% empty %}  <!-- if the list is empty then display message-->
      <p> There are no entries for this topic yet.<p>
     {% endfor %}

  <p>
   <a href="{% url 'MainApp:new_entry' topic.id %}">Add new entry</a>
 </p> 


{% endblock content %}